<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if title %}
		<title>{{ title }} - 找老师Blog</title>
	{% else %}
		<title>{{ title }}欢迎来到找老师Blog</title>
	{% endif %}
</head>
<body>	
	<div>
		找老师blog:
		<a href="{{ url_for('index') }}">主页</a>
		<a href="{{ url_for('login') }}">登陆</a>
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}
	{% endblock %}
</body>
</html>