{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
	<h1>你好， {{ current_user.username }}</h1>
	{% if form %}
	{{ wtf.quick_form(form) }}
	{% endif %}
	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}

	<nav aria-label="...">
		<ul class="pager">
			<li class="previous{% if not prev_url %} disabled{% endif %}">
				<a href="{{ prev_url or '#' }}">
					<span aria-hidden="true">&larr;</span> 更新的帖子
				</a>
			</li>

			<li class="next{% if not next_url %} disabled{% endif %}">
				<a href="{{ next_url or '#' }}">
					之前的帖子 <span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}
